<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.sun.mapper.CkioskBrandMapper" >
  <resultMap id="BaseResultMap" type="com.it.sun.entity.CkioskBrand" >
    <id column="Ckiosk_BrandID" property="ckioskBrandid" jdbcType="INTEGER" />
    <result column="Ckiosk_BrandGUID" property="ckioskBrandguid" jdbcType="VARCHAR" />
    <result column="Project" property="project" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="FirstLetter" property="firstletter" jdbcType="VARCHAR" />
    <result column="Introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="Logo" property="logo" jdbcType="VARCHAR" />
    <result column="Image" property="image" jdbcType="VARCHAR" />
    <result column="BusinessScope" property="businessscope" jdbcType="VARCHAR" />
    <result column="PerCapitaConsumption" property="percapitaconsumption" jdbcType="VARCHAR" />
    <result column="BusinessHours" property="businesshours" jdbcType="VARCHAR" />
    <result column="ContactNumber" property="contactnumber" jdbcType="VARCHAR" />
    <result column="Contact" property="contact" jdbcType="VARCHAR" />
    <result column="Fax" property="fax" jdbcType="VARCHAR" />
    <result column="Site" property="site" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="QRCode" property="qrcode" jdbcType="VARCHAR" />
    <result column="QRCodeImage" property="qrcodeimage" jdbcType="VARCHAR" />
    <result column="Other" property="other" jdbcType="VARCHAR" />
    <result column="ShowSDS" property="showsds" jdbcType="BIT" />
    <result column="Order" property="order" jdbcType="INTEGER" />
    <result column="Lan" property="lan" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Ckiosk_BrandID, Ckiosk_BrandGUID, Project, Name, FirstLetter, Introduction, Logo, 
    Image, BusinessScope, PerCapitaConsumption, BusinessHours, ContactNumber, Contact, 
    Fax, Site, Email, Wechat, QRCode, QRCodeImage, Other, ShowSDS, Order, Lan
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.it.sun.entity.example.CkioskBrandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ckiosk_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ckiosk_brand
    where Ckiosk_BrandID = #{ckioskBrandid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ckiosk_brand
    where Ckiosk_BrandID = #{ckioskBrandid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.it.sun.entity.example.CkioskBrandExample" >
    delete from ckiosk_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.it.sun.entity.CkioskBrand" >
    insert into ckiosk_brand (Ckiosk_BrandID, Ckiosk_BrandGUID, Project, 
      Name, FirstLetter, Introduction, 
      Logo, Image, BusinessScope, 
      PerCapitaConsumption, BusinessHours, ContactNumber, 
      Contact, Fax, Site, 
      Email, Wechat, QRCode, 
      QRCodeImage, Other, ShowSDS, 
      Order, Lan)
    values (#{ckioskBrandid,jdbcType=INTEGER}, #{ckioskBrandguid,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{firstletter,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{businessscope,jdbcType=VARCHAR}, 
      #{percapitaconsumption,jdbcType=VARCHAR}, #{businesshours,jdbcType=VARCHAR}, #{contactnumber,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{qrcode,jdbcType=VARCHAR}, 
      #{qrcodeimage,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{showsds,jdbcType=BIT}, 
      #{order,jdbcType=INTEGER}, #{lan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.it.sun.entity.CkioskBrand" >
    insert into ckiosk_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ckioskBrandid != null" >
        Ckiosk_BrandID,
      </if>
      <if test="ckioskBrandguid != null" >
        Ckiosk_BrandGUID,
      </if>
      <if test="project != null" >
        Project,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="firstletter != null" >
        FirstLetter,
      </if>
      <if test="introduction != null" >
        Introduction,
      </if>
      <if test="logo != null" >
        Logo,
      </if>
      <if test="image != null" >
        Image,
      </if>
      <if test="businessscope != null" >
        BusinessScope,
      </if>
      <if test="percapitaconsumption != null" >
        PerCapitaConsumption,
      </if>
      <if test="businesshours != null" >
        BusinessHours,
      </if>
      <if test="contactnumber != null" >
        ContactNumber,
      </if>
      <if test="contact != null" >
        Contact,
      </if>
      <if test="fax != null" >
        Fax,
      </if>
      <if test="site != null" >
        Site,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="wechat != null" >
        Wechat,
      </if>
      <if test="qrcode != null" >
        QRCode,
      </if>
      <if test="qrcodeimage != null" >
        QRCodeImage,
      </if>
      <if test="other != null" >
        Other,
      </if>
      <if test="showsds != null" >
        ShowSDS,
      </if>
      <if test="order != null" >
        Order,
      </if>
      <if test="lan != null" >
        Lan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ckioskBrandid != null" >
        #{ckioskBrandid,jdbcType=INTEGER},
      </if>
      <if test="ckioskBrandguid != null" >
        #{ckioskBrandguid,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstletter != null" >
        #{firstletter,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        #{businessscope,jdbcType=VARCHAR},
      </if>
      <if test="percapitaconsumption != null" >
        #{percapitaconsumption,jdbcType=VARCHAR},
      </if>
      <if test="businesshours != null" >
        #{businesshours,jdbcType=VARCHAR},
      </if>
      <if test="contactnumber != null" >
        #{contactnumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeimage != null" >
        #{qrcodeimage,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="showsds != null" >
        #{showsds,jdbcType=BIT},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="lan != null" >
        #{lan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.it.sun.entity.example.CkioskBrandExample" resultType="java.lang.Integer" >
    select count(*) from ckiosk_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ckiosk_brand
    <set >
      <if test="record.ckioskBrandid != null" >
        Ckiosk_BrandID = #{record.ckioskBrandid,jdbcType=INTEGER},
      </if>
      <if test="record.ckioskBrandguid != null" >
        Ckiosk_BrandGUID = #{record.ckioskBrandguid,jdbcType=VARCHAR},
      </if>
      <if test="record.project != null" >
        Project = #{record.project,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.firstletter != null" >
        FirstLetter = #{record.firstletter,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        Introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null" >
        Logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        Image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.businessscope != null" >
        BusinessScope = #{record.businessscope,jdbcType=VARCHAR},
      </if>
      <if test="record.percapitaconsumption != null" >
        PerCapitaConsumption = #{record.percapitaconsumption,jdbcType=VARCHAR},
      </if>
      <if test="record.businesshours != null" >
        BusinessHours = #{record.businesshours,jdbcType=VARCHAR},
      </if>
      <if test="record.contactnumber != null" >
        ContactNumber = #{record.contactnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        Contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        Fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.site != null" >
        Site = #{record.site,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null" >
        Wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.qrcode != null" >
        QRCode = #{record.qrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.qrcodeimage != null" >
        QRCodeImage = #{record.qrcodeimage,jdbcType=VARCHAR},
      </if>
      <if test="record.other != null" >
        Other = #{record.other,jdbcType=VARCHAR},
      </if>
      <if test="record.showsds != null" >
        ShowSDS = #{record.showsds,jdbcType=BIT},
      </if>
      <if test="record.order != null" >
        Order = #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.lan != null" >
        Lan = #{record.lan,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ckiosk_brand
    set Ckiosk_BrandID = #{record.ckioskBrandid,jdbcType=INTEGER},
      Ckiosk_BrandGUID = #{record.ckioskBrandguid,jdbcType=VARCHAR},
      Project = #{record.project,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      FirstLetter = #{record.firstletter,jdbcType=VARCHAR},
      Introduction = #{record.introduction,jdbcType=VARCHAR},
      Logo = #{record.logo,jdbcType=VARCHAR},
      Image = #{record.image,jdbcType=VARCHAR},
      BusinessScope = #{record.businessscope,jdbcType=VARCHAR},
      PerCapitaConsumption = #{record.percapitaconsumption,jdbcType=VARCHAR},
      BusinessHours = #{record.businesshours,jdbcType=VARCHAR},
      ContactNumber = #{record.contactnumber,jdbcType=VARCHAR},
      Contact = #{record.contact,jdbcType=VARCHAR},
      Fax = #{record.fax,jdbcType=VARCHAR},
      Site = #{record.site,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      Wechat = #{record.wechat,jdbcType=VARCHAR},
      QRCode = #{record.qrcode,jdbcType=VARCHAR},
      QRCodeImage = #{record.qrcodeimage,jdbcType=VARCHAR},
      Other = #{record.other,jdbcType=VARCHAR},
      ShowSDS = #{record.showsds,jdbcType=BIT},
      Order = #{record.order,jdbcType=INTEGER},
      Lan = #{record.lan,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.sun.entity.CkioskBrand" >
    update ckiosk_brand
    <set >
      <if test="ckioskBrandguid != null" >
        Ckiosk_BrandGUID = #{ckioskBrandguid,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        Project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstletter != null" >
        FirstLetter = #{firstletter,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        Introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        Logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        Image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        BusinessScope = #{businessscope,jdbcType=VARCHAR},
      </if>
      <if test="percapitaconsumption != null" >
        PerCapitaConsumption = #{percapitaconsumption,jdbcType=VARCHAR},
      </if>
      <if test="businesshours != null" >
        BusinessHours = #{businesshours,jdbcType=VARCHAR},
      </if>
      <if test="contactnumber != null" >
        ContactNumber = #{contactnumber,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        Contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        Fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        Site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        Wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        QRCode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeimage != null" >
        QRCodeImage = #{qrcodeimage,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        Other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="showsds != null" >
        ShowSDS = #{showsds,jdbcType=BIT},
      </if>
      <if test="order != null" >
        Order = #{order,jdbcType=INTEGER},
      </if>
      <if test="lan != null" >
        Lan = #{lan,jdbcType=VARCHAR},
      </if>
    </set>
    where Ckiosk_BrandID = #{ckioskBrandid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.sun.entity.CkioskBrand" >
    update ckiosk_brand
    set Ckiosk_BrandGUID = #{ckioskBrandguid,jdbcType=VARCHAR},
      Project = #{project,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      FirstLetter = #{firstletter,jdbcType=VARCHAR},
      Introduction = #{introduction,jdbcType=VARCHAR},
      Logo = #{logo,jdbcType=VARCHAR},
      Image = #{image,jdbcType=VARCHAR},
      BusinessScope = #{businessscope,jdbcType=VARCHAR},
      PerCapitaConsumption = #{percapitaconsumption,jdbcType=VARCHAR},
      BusinessHours = #{businesshours,jdbcType=VARCHAR},
      ContactNumber = #{contactnumber,jdbcType=VARCHAR},
      Contact = #{contact,jdbcType=VARCHAR},
      Fax = #{fax,jdbcType=VARCHAR},
      Site = #{site,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Wechat = #{wechat,jdbcType=VARCHAR},
      QRCode = #{qrcode,jdbcType=VARCHAR},
      QRCodeImage = #{qrcodeimage,jdbcType=VARCHAR},
      Other = #{other,jdbcType=VARCHAR},
      ShowSDS = #{showsds,jdbcType=BIT},
      Order = #{order,jdbcType=INTEGER},
      Lan = #{lan,jdbcType=VARCHAR}
    where Ckiosk_BrandID = #{ckioskBrandid,jdbcType=INTEGER}
  </update>


  <select id="queryBa" resultType="java.util.Map" parameterType="String" statementType="CALLABLE">
    {
    call testProcedure3(#{ids,jdbcType=VARCHAR,mode=IN})
    }
  </select>


</mapper>